.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans",sans-serif;
  color: #4255A4;
  margin-top: 0;
  font-style: normal;
}

.main {
  width: 100%;
  height: 40vmax;

  background-image: url("../../img/background/back_main.png");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;

  /*align-content: flex-end;*/
}

.welcomeText {
  max-width: 37vw;
  color: white;

  /*margin-top: 10%;*/
}

.welcomeText .title {
  color: #FFFF;
  font-size: 6vh;
}

.textHeader {
  max-width: 38vw;
  font-size: 18px;
}

.buttonJoin {
  color: white;
  background-color: #FF9F67;

  font-size: 18px;
  font-weight: normal;
}

.space {
  margin-bottom: 70px;
}

.mainContent {
  /*height: 400px;*/
  /*position: absolute;*/
  /*top: 40%;*/
  /*margin: 0 auto;*/
  width: 100%;
}

.advantages {
  margin-top: -50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.blockAdvantage {
  display: flex;
  justify-content: space-between;

  margin-bottom: 15px;
  padding: 29px 24px;
  width: 350px;
  height: 130px;
  box-sizing: border-box;

  border-radius: 20px;
  background-color: white;
  box-shadow: 0 14px 35px rgba(0,0,0,0.07), 0 10px 10px rgba(0,0,0,0.05);
}

.featureIcon, .featureCaption {
  display: inline-block;
}

.featureCaption {
  margin-left: 20px;

  color: #4255A4;
}

.headerAdvantage {
  font-size: 20px;
  margin-top: 0;
}

.buttonJoin {
  color: white;
  background-color: #FF9F67;

  font-size: 18px;
  font-weight: normal;
  border-style: none;
  border-radius: 5px;

  padding: 15px 38px;
  font-family: 'Mulish', sans-serif;
}

/*-------------------- LANGUAGES --------------------*/

.headerLanguages {
  font-size: 3.8vh;
  line-height: 1.3;
  font-weight: 600;

  text-align: center;
}

.courseCard {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 15px;
  padding: 20px 20px;
  width: 350px;
  height: 230px;
  box-sizing: border-box;

  border-radius: 20px;
  background-color: white;
  box-shadow: 0 14px 35px rgba(0,0,0,0.07), 0 10px 10px rgba(0,0,0,0.05);
}

.cartContent {
  width: 180px;
  /*height: 50px;*/
}

.tags {
  margin-top: 50px;
}

.language {
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #FF9F67;
}

.beginning {
  background-color: rgb(198, 155, 244);
}

.elementary {
  background-color: rgb(146, 166, 245);
}

.intermediate {
  background-color: rgb(170, 239, 78);
}

.upperIntermediate {
  background-color: rgb(234, 224, 104);
}

.advanced {
  background-color: #FF9F67;
}

.proficiency {
  background-color: rgb(223, 123, 115);
}

.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
}

/*-------------------- END LANGUAGES --------------------*/

/*-------------------- INFO --------------------*/

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.infoText {
  width: 45%;
}

.infoImg {
  align-items: center;
  width: 50%;
}

.headerInfo {
  font-size: 3.8vh;
}

.infoList {
  list-style-image: url("../../img/icon/right-icon.svg");
}

.infoListItem {
  text-align: justify;

  margin-left: -10px;
  margin-bottom: 20px;
  padding-left: 10px;

  color: #10285d;
}

/*-------------------- END INFO --------------------*/

/*-------------------- COURSES --------------------*/
.headerCourses {
  font-size: 3.8vh;
  line-height: 1.3;
  font-weight: 600;

  text-align: center;
}

.blockCourses {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  flex-wrap: wrap;
}

.courseItem {
  display: flex;
  align-items: center;
  width: 310px;
  height: 200px;
  margin-bottom: 20px;

  border-radius: 15px;
  background-color: white;
  box-shadow: 0 14px 35px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
}

.circle {
  display: inline-block;
  /*border-radius: 50%;*/
  border-radius: 15px;
  overflow: hidden;
  width: 65px;
  height: 65px;
}

.circle .img{
  width:100%;
  height:100%;
  object-fit: cover;
}

.blockImg {
  padding: 29px 29px 24px 0;
}

.textCourse {
  padding: 29px 24px;
}

.headerCourse {
  margin: 0;
  font-weight: 400;
}

.courseText {
  height: 40px;

  color: #6E7697;
  margin-bottom: 10px;
  overflow: auto;
}

.rating {
  position: relative;
}

.numRating {
  color: #6E7697;

  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.stars {
  margin-left: 30px;
}

.star {
  color: #FF9F67;
}

.buttonCourses {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);

  background-color: #fff;
  border: 2px solid #FF9F67;;
  border-radius: 5px;

  color: #FF9F67;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-weight: 700;

  padding: 15px 38px;
  margin-top: 15px;
}
/*-------------------- END COURSES --------------------*/

/*-------------------- INVITE --------------------*/

.invite {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 600px;
}

.inviteText {
  color: #10285d;
  text-align: justify;
}

/*-------------------- END INVITE --------------------*/


