.menu {
  width: 17%;
  height: 100%;
  padding: 30px;
  color: rgb(153, 151, 181);

  box-sizing: border-box;

  position: sticky;
  top: 0;
  overflow-x: auto;
  overflow-y: hidden;

  /*display: flex;*/
  /*flex-direction: column;*/
}
