.videoWrapper {
  position: relative;
  width: 700px;
}

.videoControls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.videoControlsPlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: yellow;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
