.container {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 40px;
  /*min-height: 300px;*/
}

.users {
  margin-bottom: 40px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);

  /*overflow: auto;*/
  /*overflow-y: hidden;*/
}

.userCard {
  /*width: 100%;*/
  box-sizing: border-box;
  padding: 15px;

  border-radius: 20px;
  background-color: white;
  box-shadow: 0 14px 35px rgba(0,0,0,0.07), 0 10px 10px rgba(0,0,0,0.05);

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 15px;
}

.userInfo {
  display: flex;
  width: 300px;
  align-items: center;
}

.button {
  width: 150px;
  padding: 10px;
  size: 18px;
  color: white;
  background-color: #FF9F67;
  border-style: none;
  border-radius: 5px;

  font-size: 18px;
  font-weight: normal;
  margin-bottom: 8px;
  /*margin-right: 10px;*/
}

.removeButton {
  background-image: url('../../img/icon/delete.svg');
  margin-right: 0;
}

.buttonsBlock {
  display: flex;
  flex-direction: column;
}

.btnRemove {
  background-color: #ffffff;
  color: red;
  border: 2px solid red;
  /*border-style: none;*/
}
