.content {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 40px;

  font-size: 20px;
}

.catalog {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans",sans-serif;
  color: #4255A4;
  margin-top: 0;
  font-style: normal;
}

.title {
  font-family: "Josefin Sans",sans-serif;
  color: #4255A4;
  margin-top: 0;
  font-style: normal;
  margin-bottom: 10px;
}

.courseCard {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/

  margin-bottom: 15px;
  padding: 20px 20px;
  width: 350px;
  min-height: 230px;
  box-sizing: border-box;

  border-radius: 20px;
  background-color: white;
  box-shadow: 0 14px 35px rgba(0,0,0,0.07), 0 10px 10px rgba(0,0,0,0.05);
}

.cartContent {
  width: 180px;
  /*height: 50px;*/
}

.headerCard {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgHeader {
  width: 25px;
  height: 25px;
  object-fit: cover;
  margin-right: 8px;
}

.tags {
  margin-top: 50px;
}

.language {
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: rgb(147, 115, 255);
}

.beginning {
  background-color: rgb(198, 155, 244);
}

.elementary {
  background-color: rgb(146, 166, 245);
}

.intermediate {
  background-color: rgb(170, 239, 78);
}

.upperIntermediate {
  background-color: rgb(230, 208, 21);
}

.advanced {
  background-color: #FF9F67;
}

.proficiency {
  background-color: rgb(223, 123, 115);
}

.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
}

.progress {
  margin-top: 20px;
}

.progressBar {
  background-color: rgb(147, 115, 255);
  border-radius: 5px;
  height: 8px;
}

.link {
  text-decoration: none;
  color: #6E7697;
  font-size: 16px;
}

.link:hover {
  color: #6E7697;
}
