.root {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 50px;
}

.img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.title {
  margin-left: 15px;
  font-size: 18px;
  color: var(--font-color);
}
