.itemTest {
  height: 500px;
  border: 2px solid #FF9F67;
  border-radius: 10px;

  margin-bottom: 20px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Mulish', sans-serif;
}

.headerItem {
  display: flex;
  align-items: center;
}

.numberQuestionBlock {
  margin-bottom: 15px;

  display: flex;
  align-items: center;
}

.optionItem {
  border-style: none;
  outline:none;
  font-size: 18px;
  font-family: 'Mulish', sans-serif;
}
