.nav {
  min-height: calc(72vh - 280px);
}

.navItem {
  margin-left: -25px;
  margin-bottom: 25px;

  list-style: none;
}

.navImg {
  width: 20px;
  height: 20px;
  object-fit: contain;

  margin-right: 30px;
}

.link {
  text-decoration: none;
  color: var(--font-color);
}

.activeLink {
  text-decoration: none;

  background-color: var(--purple);
  color: var(--font-color);
}
