.container {
  margin: 0 auto;
  max-width: 1100px;
  color: #4255A4;
}

.navigate {
  /*display: flex;*/
  display: inline-block;
  font-size: 18px;
  align-items: center;
  font-weight: bold;
  color: #4255A4;
}

.link {
  height: 40px;
  box-sizing: border-box;
  padding: 15px;
  text-decoration: none;
}

.link:hover {
  color: #4255A4;
  text-decoration: none;
  background-color: transparent;
}

.link:visited {
  color: #4255A4;
  text-decoration: none;
}

.linkActive {
  border-bottom: 2px solid #FF9F67;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: column;*/
  justify-content: space-between;
}

.imgBlock {
  width: 250px;
  margin-top: 20px;
  /*margin-right: 70px;*/
}

.imgButtons {
  display: flex;
}

.button {
  color: white;
  background-color: #FF9F67;

  font-size: 18px;
  font-weight: normal;
  border-style: none;
  border-radius: 5px;

  padding: 15px 15px;
  font-family: 'Mulish', sans-serif;
}

.block {
  margin-bottom: 30px;
}

.language {
  display: flex;
}

.image {
  width: 100%;
  object-fit: cover;

  display: block;
  margin-top: 20px;
}

.selectors {
  display: flex;
  justify-content: space-between;
}

.remarkBlock {
  position: relative;
  margin-top: 20px;
  width: 100%;
}

.deleteButton {
  position: absolute;
  top: 0;
  right: 0;
}

