.textBox {
  min-height: 150px;
}

.wordsBox {
  flex-wrap: wrap;
  gap: 8px;
  list-style-type: none;
  margin-left: -38px;
  box-sizing: border-box;

  align-content: center;
  display: flex;
  justify-content: center;
}

.textBox {
  min-height: 100px;
}

.wordItem {
  display: inline-block;
  margin-right: 10px;
}

.text {
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--purple);
  color: white;
  border-radius: 15px;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-style: none;
}

.textRes {
  background-color: darkgray;
}

.gray {
  background-color: gray;
}

.testItem {
  border: 2px solid var(--purple);
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 10px;
}
