.root {
  display: flex;
  margin-top: 10px;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-left: 17px;
}

.avatar {
  margin-right: 15px;
}

.form {
  width: 100%;

  button {
    margin-top: 10px;
  }
}

.button {
  color: white;
  background-color: #FF9F67;

  font-size: 16px;
  font-weight: normal;
  border-style: none;
  border-radius: 5px;

  padding: 10px 15px;
  font-family: 'Mulish', sans-serif;
}
