body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  line-height: normal;

  /*margin-bottom: 50px; !* отступаем от нижнего края body, чтобы футер не перекрыл содержимое *!*/
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body.overflow-footer {
  min-height: 100%; /* устанавливаем минимальную высоту body, чтобы при прокрутке контента футер не остался в нижней части экрана */
}

body.no-overflow-footer {
  height: 100%; /* задаем высоту body равной высоте экрана */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  /*position: relative; !* устанавливаем относительную позицию для корневого элемента *!*/
  /*min-height: 100%; !* устанавливаем минимальную высоту корневого элемента как минимум равную высоте экрана *!*/
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans",sans-serif;
  color: #4255A4;
  margin-top: 0;
  font-style: normal;
}
