.container {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 40px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.plus {
  color: #FF9F67;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #FF9F67;
  width: 70px;
  height: 70px;
}

.addCourse {
  margin-left: 30px;
}

.courseCard {
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  //
  //margin-bottom: 15px;
  //padding: 20px 20px;
  //width: 500px;
  //min-height: 180px;
  //box-sizing: border-box;
  //
  //border-radius: 20px;
  //background-color: white;
  //box-shadow: 0 14px 35px rgba(0,0,0,0.07), 0 10px 10px rgba(0,0,0,0.05);

  display: flex;
  justify-content: space-between;
  /*align-items: center;*/

  margin-bottom: 15px;
  padding: 20px 20px;
  width: 350px;
  min-height: 230px;
  box-sizing: border-box;

  border-radius: 20px;
  background-color: white;
  box-shadow: 0 14px 35px rgba(0,0,0,0.07), 0 10px 10px rgba(0,0,0,0.05);
}

.catalog {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.courseContent {
  //width: 170px;
  //display: flex;
  //flex-direction: column;

  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  width: 250px;
}

.buttons {
  display: flex;
  /*width: 100px;*/
  align-items: flex-end;
  flex-wrap: wrap;
}

.button {
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  background-color: rgb(189, 184, 252);
  margin-right: 10px;
  border-style: none;

  display: block;
  margin-bottom: 10px;
}

.delButton {
  color: red;
  background-color: #ffffff;
  border: 1px solid red;
  margin-right: 0;
}

.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
}
