.courses {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.courseCard {
  min-height: 170px;
  max-width: 650px;
  //min-width: 450px;
  border: 2px solid var(--purple);
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;

  //display: flex;
  //justify-content: space-between;
  //align-items: center;
}

.courseContent {
  //width: 170px;
  //display: flex;
  //flex-direction: column;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courseImg {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.courseButtons {
  display: flex;
  justify-content: center;
}
